/*RESETS BASICOS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/*VALORES QUE QUIERO QUE SEAN PREDETERMINADOS*/
p, a {
    font-size: 1.6rem;
}

label, a, button, .form__texto {
    font-size: 1.4rem;
}

/* BARRA DE NAVEGACIÓN */
.cabecita {
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(5,4,77,1) 19%, rgba(9,9,121,1) 38%, rgba(22,65,128,1) 63%, rgba(6,85,166,1) 84%, rgba(16,98,152,1) 89%, rgba(0,103,148,1) 95%, rgba(7,102,131,1) 98%, rgba(7,83,98,1) 100%);
}

.nav__barra {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.nav__logo__img {
    width: 30%;
}

.nav__logo {
    font-size: 2rem;
    color: #fff;
}
/*KEYFRAME PARA ANIMAR EL NAVBAR*/
    @-webkit-keyframes rebota {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}
    @keyframes rebota {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

.nav__nav__link:hover, .nav__nav__link__activo:hover {
	-webkit-animation: rebota 0.9s both;
            animation: rebota 0.9s both;
            color: yellow;
}

.nav__nav__link {
    font-size: 1.6rem;
    color: hsl(0, 0%, 100%);
}

.nav__nav__link__activo {
    font-size: 1.6rem;
    color:rgb(255, 123, 0)
}

/*SECCION DE CARRUSEL*/
.carrusel__div {
    background-color: #000;
}

.img__carrusel {
    height:60rem;
    opacity: 0.5;
    object-fit: cover;
}

.carrusel__titulo {
    font-size: 3rem;
}

/* ORADORES */
.oradores__lista {
    font-size: 1.6rem;
    justify-content: center;
}

.titulo__oradores h4{
    font-size: 1.2rem;
    font-weight: 10;
}

.titulo__oradores h2 {
    font-size: 3rem;
    font-weight: 600;
}

    @-webkit-keyframes sombrita {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}
    @keyframes sombrita {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}


.orador:hover {
    -webkit-animation: sombrita 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: sombrita 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.oradores__nombre {
    font-size: 2rem;
    font-weight: 700;
}

/*SECCION HONOLULU*/
.honolulu__img{
    object-fit: cover;
}

.honolulu__titulo {
    font-size: 2.5rem;
    font-weight: 700;
}


/*FORMULARIO*/
.titulo__formulario h5 {
    font-size: 1.2rem;
}

.titulo__formulario h2 {
    font-size: 3rem;
    font-weight: 700;
}

/*PIE DE PAGINA O FOOTER PARA LOS PANAS*/
.piecito{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,4,77,1) 19%, rgba(9,9,121,1) 38%, rgba(6,69,160,1) 63%, rgba(5,88,173,1) 84%, rgba(4,119,194,1) 89%, rgba(2,150,214,1) 95%, rgba(1,179,233,1) 98%, rgba(0,212,255,1) 100%);
}

.piecito ul li a{
    font-family: "Roboto";
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 500; }

.piecito ul li a:hover {
    color: rgb(255, 255, 0);
}


/*PAGINA DE CONVIERTETE EN ORADOR*/

/*SECCIÓN DE OFERTAS*/
.des__estudiante {
    width: 25rem;
    border-color: rgb(0, 153, 255);
    border-width: 3px;
}

.des__trainee {
    width: 25rem;
    border-color: rgba(0,103,148,1);
    border-width: 3px;
}

.des__junior {
    width: 25rem;
    border-color: rgb(255, 123, 0);
    border-width: 3px;
}

/*MEDIA QUERYS*/

@media only screen and (max-width:768px) {
    /* BARRA DE NAVEGACIÓN */

    .nav__brand {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav__logo {
        font-size: 1.6rem;
        color: #fff;
    }

    /*CARRUSEL*/
    .img__carrusel {
        height: 70vh;
    }

    /*SECCION HONOLULU*/
    .honolulu__img{
        object-fit: cover;
    }

    .honolulu__titulo {
        font-size: 2rem;
    }

    .honolulu__info p {
    font-size: 1.3rem;
    }
}

@media only screen and (max-width:430px) {
    /* BARRA DE NAVEGACIÓN */

    .nav__brand {
        display: grid;
        grid-template-columns: 80% 20%;
        justify-content: space-between;
    }

    .nav__logo__img {
        width: 25%;
    }

    .nav__logo {
        font-size: 1.3rem;
        color: #fff;
    }

    /*CARRUSEL*/
    .img__carrusel {
        height: 50vh;
    }

    .carrusel__titulo {
        font-size: 2rem;
    }

    /*ORADORES*/
    .oradores__hab {
        font-size: 1rem;
    }

    .oradores__nombre {
        font-size: 1.6rem;
    }

    .oradores__lista p {
        font-size: 1.3rem;
        justify-content: center;
    }
}
